body{
    font-size: 0.9375rem;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaBemClaro);
}
.container{
    position: relative;
    overflow: hidden;
    min-width: 270px;
    height: auto;
    border-radius: 8px;
    margin: 90px 0;
    display: grid;
    grid-auto-flow: row;
}


.card{
    position: relative;
    padding: 2.5rem 2.5rem;
    width: 16.875rem;
    height: 25rem;
    color: var(--brancoTransparente);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 0.5fr;

    img{
        width: 4rem;
        height: 2.5rem;
    } 

    a{
        color: var(--brancoTransparente);
        text-decoration: none;
        
    }

    .titulo{
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        color: white;
        font-weight: 700;
        font-size: 2.5rem;
    }

    .paragrafo{
        font-family: 'Lexend Deca', sans-serif;
        line-height: 1.7;
        font-size: 0.75rem;
        font-weight: 400;
    }

    .butao{
        background: #fff;
        color: black;
        mix-blend-mode: screen;
        padding: 0.81rem 1.87rem;
        border-radius: 1.5rem;
        width: fit-content;
        height: fit-content;
        border: white solid 0.15rem;

        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.95rem;
        transition: ease-in-out 0.2s;
        &:hover{
            transition: ease-in-out 0.2s;
            background: transparent;
            color: white;
        }
    }

}
.card1{
    background-color: var(--laranjaCintilante);

}
.card2{
    background-color: var(--cianoEcuro);

}
.card3{
    background-color: var(--cianoMuitoEsuro);

}

@media (min-width: 51rem){
    .container{
        grid-auto-flow: column;
    }
    .card{
        height: 26.87rem;
    }
}